.list-func {
    width: 70vw;
    margin: auto;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title {
    text-align: center;
    color: white;
    margin-top: 5vw;
}

.card {
    height: 150px;
    padding-top: 60px;
    background-color: #3498DB;
    border-radius: 10px;
    font-size: 25px;
}

.drop-itens {
    display: none;
    margin-top: 15px;
    background-color: #f9f9f9;
    min-width: 16px;
    box-shadow: 0 8px 16px 8px rgba(0,0,0,.4);
    border-radius: 17px;
}

.drop-itens p {
    text-align: center;
    color: black;
    padding: 2px 16px;
    font-size: 20px;
    border-radius: 17px;
}

.drop-itens p:hover {
    background-color: #f1f1f1;
}

.show-itens {
    display: block;
}

@media (max-width: 1024px) {
    .title {
        margin-top: 10vw;
    }

    .card {
        padding: auto;
    }
}

@media (max-width: 600px) {
    .title {
        margin-top: 24vw;
    }
}

@media (max-width: 280px) {
    .card {
        padding: 15px;
    }
}