::-webkit-scrollbar {
width:10px;
height: 10px;
}

::-webkit-scrollbar-track {
background:#333;
}

::-webkit-scrollbar-thumb {
background: #2e9dd8;
}

::-webkit-scrollbar-thumb {
background: #2e9dd8;
background: -moz-linear-gradient(top, #333333 0%, #3f69b1 25%, #2e9dd8 50%, #3f69b1 76%, #333333 100%);
background: -webkit-linear-gradient(top, #333333 0%,#3f69b1 25%,#2e9dd8 50%,#3f69b1 76%,#333333 100%);
background: linear-gradient(to bottom, #333333 0%,#3f69b1 25%,#2e9dd8 50%,#3f69b1 76%,#333333 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#333333',GradientType=0 );
}

::-webkit-scrollbar-thumb:horizontal {
background: #2e9dd8;
background: -moz-linear-gradient(left, #333333 0%, #3f69b1 25%, #2e9dd8 50%, #3f69b1 76%, #333333 100%);
background: -webkit-linear-gradient(left, #333333 0%,#3f69b1 25%,#2e9dd8 50%,#3f69b1 76%,#333333 100%);
background: linear-gradient(to right, #333333 0%,#3f69b1 25%,#2e9dd8 50%,#3f69b1 76%,#333333 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#333333',GradientType=0 );
}

body {
    margin: 0;
    background-color: #34495e;
}

footer {
    background-color: #45617d;
    font-size: 18px;
    padding: .5rem;
}

.list {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    color: white;
}

.container2 {
    color: white;
    font-size: 20px;
    margin-top: 20px;
}

.parallax {
    background: transparent;
    height: 500px;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    margin: 0 20px;
    flex-wrap: wrap;
}

.card {
    background-color: #3498DB;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    max-width: 28vw;
    text-align: justify;
    font-size: 18px;
}

.popover {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.noshist,
.serviços,
.associe-se {
    position: absolute;
    visibility: hidden;
    font-size: 18px;
    width: 250px;
    background: whitesmoke;
    color: gray;
    padding: 6px;
    border-radius: 12px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    text-align: center;
    bottom: 100%;
    left: 50%;
    margin-left: -125px;
    margin-bottom: 5px;
}

.noshist::after,
.serviços::after,
.associe-se::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: whitesmoke transparent transparent transparent;
}

.contato {
    position: absolute;
    visibility: hidden;
    font-size: 18px;
    width: 250px;
    background: whitesmoke;
    color: gray;
    padding: 6px;
    border-radius: 12px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    text-align: center;
    left: 50%;
    margin-left: -125px;
    margin-top: 5px;
}

.contato::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: whitesmoke transparent transparent transparent;
}

.associe-se {
    cursor: default;
}

#snack-success,
#snack-danger {
    color: white;
    padding: 10px;
    display: inline-block;
    position: fixed;
    bottom: 20px;
    left: 20px;
    transform: translateY(200px);
    transition: all .3s;
}

#snack-success.show,
#snack-danger.show {
    transform: translateY(0);
}

#snack-success {
    background-color: #2ecc71;
    border-radius: 6px;
}

#snack-danger {
    background-color: red;
}

input {
    border: 2px solid #3498DB;
    padding: 6px;
    outline: none;
    border-radius: 15px;
    background-color: whitesmoke;
}

button {
    border-radius: 10px;
    border-style: none;
    color: white;
    padding: 10px;
    margin-top: 20px;
    background-color: #34495e;
    cursor: pointer;
    outline: none;
    transition: .3s;
}

button:hover {
    background-color: #45617d;
}

p {
    font-size: 24px;
    margin-top: 0;
}

h2 {
    margin-bottom: 0;
}

img {
    opacity: 70%;
}

.morgan-msg {
    margin: 9px;
    color: white;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}

.capa {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
    top: 0;
    left: 0;
}

.header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.container .btn-menu,
.logo {
    float: left;
    line-height: 100px;
    justify-content: left;
}

.container .btn-menu label {
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    z-index: 100;
}

.logo {
    margin-top: 10%;
    justify-content: center;
    width: 100%;
    display: flex;
}

.container .menu {
    float: right;
    line-height: 100px;
}

.container .menu a {
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
    margin-right: 5px;
}

.container .menu a:hover {
    border-bottom: 2px solid #3498DB;
    padding-bottom: 5px;
}


/*Menu lateral*/

#btn-menu, .btn-menu {
    display: none;
}

.container-menu {
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    z-index: 100;
}

#btn-menu:checked~.container-menu {
    opacity: 1;
    visibility: visible;
}

.cont-menu {
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 100vh;
    position: fixed;
    transition: all 500ms ease;
    transform: translateX(-100%);
}

#btn-menu:checked~.container-menu .cont-menu {
    transform: translateX(0%);
}

.cont-menu nav {
    transform: translateY(15%);
}

.cont-menu nav a {
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

.cont-menu nav a:hover {
    border-left: 5px solid #3498DB;
    background: #1f1f1f;
}

.cont-menu label {
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

.logo-morgan {
    height: 235px;
    width: 235px;
    margin-bottom: 20px;
    opacity: 100%;
}

.icon {
    background-image: linear-gradient( 180deg, rgba(155, 157, 157, 0.96) 7.5%, rgba(90, 85, 85, 0.96) 83.1%);
    border-radius: 56px;
    padding: 15px;
    color: white;
    height: 115px;
    width: 115px;
    opacity: 100%;
    cursor: pointer;
    transition: 0.6s;
}

.icon:hover {
    height: 122px;
    width: 122px;
    transition: 0.6s;
    border-radius: 66px;
    background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(16, 42, 67, 1) 10.3%, rgba(56, 190, 201, 1) 90%);
}

.micro {
    width: 100%;
    justify-content: center;
    display: flex;
    margin: 20px 0;
    cursor: default;
}

.text-box {
    width: 45%;
    height: 28vh;
    overflow-y: auto;
    margin-bottom: 20px;
    border-style: none;
    border-radius: .5rem;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.4);
    margin: auto;
    text-align: center;
    position: static;
}

@media (max-width: 600px) {
    .logo {
        margin-top: 23%;
        justify-content: center;
    }
}

@media (max-width: 999px) {
    .card {
        max-width: 100%;
    }
}

@media (max-width: 600px) {
    .menu {
        display: none;
    }

    .btn-menu, .container-menu {
        display: inline;
    }

    .text-box {
        width: 80%;
    }

    .logo {
        margin-top: 23%;
        justify-content: center;
    }
}