<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Alterar a senha</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='morgan_icon.png') }}">
</head>
<body>
    <form class="box" action="{{ url_for('criar') }}" method="post">
        <h1>Alterar a senha</h1>
        <br>
        <p class="description-primary">Preencha os campos e crie uma nova senha</p>
        <input type="hidden" name="cadastrado" value="jaCadastrado">
        <input class="inputField" required type="text" name="username" placeholder="Username" autofocus="true">
        <input class="inputField" required type="email" name="email" placeholder="Email">
        <input class="inputField" required type="password" name="senha" placeholder="Nova senha">
        <input class="inputField" required type="password" name="confirma" placeholder="Confirmar senha">
        <input type="submit" value="Alterar">
        <p>Quer fazer login? <a href="{{ url_for('login') }}">Entrar</a></p>

    </form>
</body>
</html>