<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='func.css') }}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="icon" href="{{ url_for('static', filename='morgan_icon.png') }}">
    <title>Funcionalidades</title>
</head>

<body>

    <header class="header">
        <div class="container">
            <div class="btn-menu">
                <label for="btn-menu">☰</label>
            </div>
            <nav class="menu">
                <a href="{{ url_for('index') }}">Início</a>
                <a href="{{ url_for('login') }}">Cadastro</a>
                <a href="#">Contato</a>
            </nav>
        </div>
    </header>

    <input type="checkbox" id="btn-menu">
    <div class="container-menu">
        <div class="cont-menu">
            <nav>
                <a href="{{ url_for('index') }}">Início</a>
                <a href="{{ url_for('login') }}">Cadastro</a>
                <a href="#">Contato</a>
            </nav>
            <label for="btn-menu">✖️</label>
        </div>
    </div>

     <h1 class="title">O que a Morgan pode fazer?</h1><br>

    <div class="list-func">
        <div class="card">
            <i class="fas fa-calculator"></i>
            Operações matemáticas
        </div>
        <div class="card">
            <i class="far fa-laugh-beam"></i>
            Contar piadas
        </div>
        <div class="card">
            <i class="fas fa-search"></i>
            Citar curiosidades
        </div>
        <div class="card">
            <i class="fas fa-music"></i>
            Tocar playlists
        </div>
        <div class="card">
            <i class="fas fa-temperature-high"></i>
            Trazer a temperatura do local
        </div>
        <div class="card">
            <i class="far fa-newspaper"></i>
            Buscar notícias
        </div>
        <div class="card">
            <i class="fab fa-chrome"></i>
            Abrir sites
        </div>
        <div id="drop-list" class="card" style="cursor: pointer">
            <i class="fas fa-caret-down"></i>
            +30 funções de interatividade
            <div class="drop-itens">
                <p>Pedra papel tesoura</p>
                <p>Você gosta da Alexa</p>
                <p>E da Siri ou da Google</p>
                <p>O que você está vestindo</p>
                <p>Quem te criou</p>
                <p>Você tem sentimentos</p>
                <p>Cachorros ou gatos</p>
                <p>...</p>
            </div>
        </div>
    </div>

    <script>
        document.querySelector('#drop-list').addEventListener('click', () =>
            document.querySelector('.drop-itens').classList.toggle('show-itens'));
    </script>

</body>

</html>