<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='morgan_icon.png') }}">
    <title>Assistant Morgan</title>
</head>

<body>

    <header class="header">
        <div class="container">
            <div class="btn-menu">
                <label for="btn-menu">☰</label>
            </div>
            <nav class="menu">
		        <a id="soft-link" href="#cards">Quem somos?</a>
                <a href="{{ url_for('login') }}">Cadastro</a>
                <a href="{{ url_for('funcionalidades') }}">Lista de funcionalidades</a>
                <div class="popover" onclick="invisible('contato')">
                    <a href="#" onclick="visible('contato')">Contato </a>
                    <div class="contato">+55 (11) 99510-0578</div>
                </div>
            </nav>
        </div>
    </header>
    <div class="capa"></div>
    <div class="logo">
        <img class="logo-morgan" src="{{ url_for('static', filename='morgan_icon.png') }}">
    </div>
    <hr>
    <!--	--------------->
    <input type="checkbox" id="btn-menu">
    <div class="container-menu">
        <div class="cont-menu">
            <nav>
                <a id="soft-link" href="#cards">Quem somos?</a>
                <a href="{{ url_for('login') }}">Cadastro</a>
                <a href="{{ url_for('funcionalidades') }}">Lista de funcionalidades</a>
                <a href="#">Contato: </a><a style="margin-top:0">+55 (11) 99510-0578</a>
            </nav>
            <label for="btn-menu">✖️</label>
        </div>
    </div>
    <a href="{{ url_for('rodar') }}" class="micro"> <img class="icon" src="{{ url_for('static', filename='micro.png') }}"></a>

    <div class="text-box">
        {% for msg in mensagens %}
        <p class="morgan-msg">{{ msg }}</p>
        {% endfor %}
    </div>

    <div class="container2">
        <div class="parallax" data-parallax="scroll" data-image-src="{{ url_for('static', filename='bg.jpeg') }}" data-z-index="1"></div>
        <div id="cards" class="cards">
            <section class="card">
                <h2>QUEM</h2>
                <p>somos?</p>
                A MetaAssist, companhia desenvolvedora da Morgan, foi fundada em 2020 em meio a pandemia do covid-19,
                visando proporcionar as pessoas uma saída para aquele momento, por meio de conversas descontraídas
                e meios para assisti-las. Embora o mercada de assistentes virtuais já conte com nomes de peso, a Morgan
                conta com um diferencial, nossos usuários podem associar-se e criar funções personalizadas.
                <br>
                <div class="popover" onclick="invisible('noshist')">
                    <button onclick="visible('noshist')">NOSSA HISTÓRIA</button>
                    <div class="noshist">Nossos fundadores, Murilo Tegani, Lorran Vitor e Gabriel Santos, iniciaram o
                        projeto Morgan Assemble como o seu Trabalho de Conclusão de Curso (TCC), seu maior objetivo era
                        e continua sendo, tornar essa assistente algo grandioso, que conectar-se-á a muitos!
                    </div>
                </div>
            </section>
            <section class="card">
                <h2>O QUE</h2>
                <p>fazemos?</p>
                Nossa empresa é especialista no desenvolvimento de soluções de software para a Indústria 4.0 e a Web 3.0,
                ou seja, Assistentes virtuais, Machine Learning, IoT, BlockChain, Cryptocurrency e NFTs etc. Para saber
                mais, entre em contato conosco direto pelo WhatsApp, nosso número encontra-se no menu no campo 'Contato'.
                <br>
                <div class="popover" onclick="invisible('serviços')">
                    <button onclick="visible('serviços')">NOSSOS SERVIÇOS </button>
                    <div class="serviços">
                        Atualmente os nossos serviços incluem a Assistente Virtual Morgan e consultoria de investimentos
                        em criptoativos.
                    </div>
                </div>
            </section>
            <section class="card">
                <h2>COMO</h2>
                <p>se associar?</p>
                Gostaria de fazer parte do projeto Morgan Assemble? e poder criar suas próprias funções, moldando a
                assistente a sua própria maneira e estilo? Então clique em 'ASSOCIE-SE', um e-mail será encaminhado para
                a nossa equipe que entrará em contato contigo.
                <br>
                <div class="popover">
                    <button onclick="visible('associe-se')">ASSOCIE-SE</button>
                    <div class="associe-se">
                        Já é um associado? Informe seu email e entraremos em contato.
                        <form onsubmit="successMessage(event, 'Email enviado com sucesso')">
                            <input id="email" type="email" placeholder="seu@email.com" required>
                            <button type="submit">enviar</button>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div id="snack-success"></div>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {% if message=="Username ou email já cadastrado" %}
                        <div id="snack-danger">{{ message }}</div>
                    {% else %}
                        <div class="login-msg" style="color: white;
                        background-color: green;
                        padding: 10px;
                        display: inline-block;
                        position: fixed;
                        bottom: 20px;
                        z-index: 2;
                        left: 20px;">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}

    <footer>
        <ul class="list">
            <li>&copy;Morgan Assistant 2021</li>
            <li>rodapé</li>
        </ul>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='parallax.min.js') }}"></script>

    <script>
        function visible(classe) {
            document.querySelector('.' + classe).style.visibility = 'visible';
        }

        function invisible(classe) {
            document.querySelector('.' + classe).addEventListener('click', () => 
                document.querySelector('.' + classe).style.visibility = 'hidden'
            );
        }
        
        var ss = document.getElementById('snack-success');
        function successMessage(event, msg) {
            event.preventDefault();
            ss.innerHTML = msg;
            ss.classList.add('show');
            setTimeout(function() {ss.classList.remove('show')}, 3000);
            invisible('associe-se');
        }

        var sd = document.getElementById('snack-danger');
        document.body.onload = onload;
        function onload() {
            sd.classList.add('show');
            setTimeout(function() {sd.classList.remove('show')}, 3000);
        }

        $('#soft-link').click(function(event) {
            event.preventDefault();
            var id = $(this).attr('href'),
                targetOffset = $(id).offset().top;
            $('html, body').animate({
                scrollTop: targetOffset
            }, 500);
        });

        $().ready(function() {
			setTimeout(function() {
				$('.login-msg').hide();
			}, 3000);
		});
    </script>

</body>

</html>