{% extends "template_acl.html" %}
{% block content %}
    <form class="box" action="{{ url_for('autenticar') }}" method="post">
        <h1>Login</h1>
        <br>
        <div class="social.media">
            <ul class="list-social-media">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
             </ul>
        </div>
        <br>
        <p class="description-primary">Ou conecte-se com o seu cadastro</p>
        <input type="hidden" name="logado" value="{{ logado or url_for('index') }}">
        <input class="inputField" required type="text" name="username" placeholder="Username" autofocus="true">
        <input class="inputField" required type="password" name="senha" placeholder="Senha">
        <a href="{{ url_for('mudar_senha') }}">Esqueceu a senha?</a>
        <input type="submit" value="Login">
        <p>Não tem conta? <a href="{{ url_for('registrar') }}">Cadastre-se</a></p>
    </form>
{% endblock %}