<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='morgan_icon.png') }}">
</head>
<body>

    {% block content %} {% endblock %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="erro" style="color: white;
                    background-color: red;
                    padding: 10px;
                    display: inline-block;
                    position: fixed;
                    bottom: 20px;
                    left: 20px;">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script>
        $().ready(function() {
			setTimeout(function() {
				$('.erro').hide();
			}, 3000);
		});
    </script>
</body>
</html>